<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track Your Crypto Investments</title>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/header %>

  <h1> Your Investment </h1>

  <div class="links">
    <div class="link">
      <a href="/tracker/tracker">Back To Tracker</a>
    </div>
    <div class="link">
      <a href="/tracker/tracker/<%= currency.id %>/edit">Edit/Add Investment</a>
    </div>
  </div>

  <table class="currency">
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Value (USD)</th>
      <th>Value (BTC)</th>
      <th>Amount Owned</th>
      <th>Market Cap</th>
      <th>Available Supply</th>
      <th>Percent Change (7 Days)</th>
    </tr>
    <tr>
      <td><%= crypto[0].rank %></td>
      <td><%= crypto[0].name %></td>
      <td>$<%= crypto[0].price_usd %></td>
      <td><%= crypto[0].price_btc %></td>
      <td>

      <% if (investment) { %>
         <%= investment.amount %>
      <% } %>

      </td>
      <td>$<%= crypto[0].market_cap_usd %></td>
      <td><%= crypto[0].available_supply %></td>
      <td><%= crypto[0].percent_change_7d %>%</td>
    </tr>
  </table>

  <div class="delete">
    <form action="<%= `/tracker/tracker/${currency.id}?_method=DELETE` %>" method="POST">
      <input type="submit" value="Delete This" />
    </form>
  </div>

</body>
</html>
