<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track Your Crypto Investments</title>
  <% include ../partials/head %>
</head>
<body>

  <h1> Your Investment </h1>

  <div class="tracker">
    <a href="/tracker/tracker">Your Crypto Tracker</a>
  </div>

  <table>
    <tr>
      <th>Rank</th>
      <th>Rank</th>
      <th>Name</th>
      <th>Value (USD)</th>
      <th>Value (BTC)</th>
      <th>Amount Owned</th>
      <th>Market Cap</th>
      <th>Available Supply</th>
      <th>Percent Change (7 Days)</th>
    </tr>
    <tr>
      <td><%= crypto.rank %></td>
      <td><%= crypto.name %></td>
      <td>$<%= crypto.price_usd %></td>
      <td><%= crypto.price_btc %></td>
      <td>

      <% if (investment) { %>
         $ <%= investment.amount %>
      <% } %>

      </td>
      <td>$<%= crypto.market_cap_usd %></td>
      <td><%= crypto.available_supply %></td>
      <td><%= crypto.percent_change_7d %>%</td>
    </tr>
  </table>

  <form action="<%= `/tracker/tracker/${currency.currency_id}?_method=DELETE` %>" method="POST">
    <input type="submit" value="Delete This" />
  </form>

</body>
</html>
