<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Top 20 Currencies</title>
  <% include ../partials/head %>
</head>
<body>
  <h1>Top 20 CryptoCurrencies</h1>
  <table class="topcryptos">
    <tr>
      <th class="toprow">Rank</th>
      <th class="toprow">Name</th>
      <th class="toprow">Value (USD)</th>
      <th class="toprow">Value (BTC)</th>
      <th class="toprow">Market Cap</th>
      <th class="toprow">Available Supply</th>
      <th class="toprow">Percent Change (7 Days)</th>
    </tr>
  <% cryptos.forEach(crypto => { %>
    <tr>
      <td class="row"><%= crypto.rank %></td>
      <td class="row"><%= crypto.name %></td>
      <td class="row">$<%= crypto.price_usd %></td>
      <td class="row"><%= crypto.price_btc %></td>
      <td class="row">$<%= crypto.market_cap_usd %></td>
      <td class="row"><%= crypto.available_supply %></td>
      <td class="row"><%= crypto.percent_change_7d %>%</td>
    </tr>
  <% }) %>
  </table>

  <div class="tracker">
    <a href=`/tracker/${user.username}`>Your Crypto Tracker</a>
  </div>

</body>
</html>
