<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track Your Crypto Investments</title>
  <% include ../partials/head %>
</head>
<body>
  <h1>Your Crytocurrency Investments</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Value (USD)</th>
      <th>Value (BTC)</th>
      <th>Amount</th>
    </tr>
<% currencies.forEach(currency => { %>
    <tr>
      <td><a href="<%= `/tracker/${currency.currency_id}` %>"> <%= crypto.name %> </a></th>
      <td><%= crypto.price_usd %></td>
      <td><%= crypto.price_btc %></td>
      <td><%= investment.amount %></td>
    </tr>
<% }) %>
</table>
</body>
</html>
